{% extends "base.html" %}
{% load bootstrap3 %}

{% block body %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Upload your gerber files (contour for the outline, masktop for drill holes) to get a PCB STL
        file.</h3>
    </div>
    <div class="panel-body">
		Upload the file named <em>your_project_contour.gm1</em> for the outline and
        <em>your_project_MaskTop.gtp</em> for the THT top layer.
      </p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">File Upload</h3>
    </div>
    <div class="panel-body">
      <p><strong>See bottom of the page for some usage hints.</strong></p>
      <form action="" method="POST" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">
          Convert to STL
        </button>
        {% endbuttons %}
      </form>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Hints</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li>You can use negative values for hole size increase to increase the separation between closely spaced tabs,
          to allow printing a separating line. The downside is that this makes all pads smaller.</li>
      </ul>
    </div>
  </div>

  <br /><br />

  <p>Special thanks to <a href="mailto:rob@kirberich.uk">rob@kirberich.uk</a> for this awesome tool. Original can be found at <a href="https://solder-stencil.me" target="_blank">solder-stencil.me</a>, code on GitHub at <a href="https://github.com/kirberich/gerber_to_scad" target="_blank">https://github.com/kirberich/gerber_to_scad</a></p>

  <p>Version {{version}} - IAmOrion</p>

</div>
{% endblock %}
